/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
resources/public/cljs-out
resources/public/pages
resources/templates/components/team-cards.html
node_modules
shadow-cljs.edn
.shadow-cljs/
.DS_Store
