<footer class="footer">
  <div class="container mb-32">
    <div class="flex flex-row justify-between">
      <img src="../assets/logo.svg" alt="BRUCE Data Portal" />
      <div class="footer-images">
        <a href="https://parkerici.org"><img src="../assets/images/pici.png" alt="pici"/></a>
        <a href="https://stanford.edu"><img src="../assets/images/stanford.png" alt="stanford" /></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex flex-row justify-between">
      <p>BRUCE WEB PORTAL Copyright © 2024-2025 Parker Institute. All rights reserved.</p>
    </div>
  </div>
</footer>
