<!-- Really would like to pull this out, but not only is it hard to set the class, it is DIFFERENT for each entry! But we already have page-specific css so could do it that way -->

        <nav>
          <ul>
            <li>
              <a href="query-builder.html" class="mmitem qb {{active-qb}}">Query Builder</a>
            </li>
            <li><a href="sample-info.html" class="mmitem samples {{active-samples}}">Sample Info</a></li>
            <li>
              <a href="visualization.html" class="mmitem viz {{active-viz}}">Visualization</a>
            </li>
            <li><a href="about-us.html" class="mmitem about {{active-about}}">About Us</a></li>
            <li>
              <a href="raw-data-access.html" class="mmitem rda {{active-rda}}">Data Access</a>
            </li>
          </ul>
        </nav>
