<div class="team-member-card">
  <div class="team-member-image">
    <a href="{{link}}">
      <img src="{{image}}" alt="{{name}}" />
    </a>
  </div>
  <div class="profile-info">
    <h3>{{name}}</h3>
    <p>{{title}}</p>
    <div class="social-links">
      <a href="{{linkedin}}"><img src="../assets/icons/linkedin.svg" alt="linkedin"/></a>
      <a href="{{twitter}}"><img src="../assets/icons/x.svg" alt="x" /></a>
      <a href="{{instagram}}"><img src="../assets/icons/instagram.svg" alt="instagram"/></a>
      <a href="{{facebook}}"><img src="../assets/icons/facebook.svg" alt="facebook"/></a>
    </div>
  </div>
</div>
