;;; Wayne config
{:app-title "BRUCE Data Portal"         ;TODO
 :app-main "wayne.frontend.core.init"
 :colophon  ["Copyright © " [:a {:href "http://hyperphor.com" :style "color: white;"} "Hyperphor"] " 2020-2024"]
 }
