@import url('main.css');

.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #dde1e6;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dde1e6;
}

th {
  background-color: #f2f4f8;
  font-size: 14px;
  color: #121619;
  font-weight: 500;
  height: 48px;
}

td {
  background-color: #fff;
}


th input[type='checkbox'],
td input[type='checkbox'] {
  cursor: pointer;
}

td a {
  color: #0f62fe;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.download-icon {
  cursor: pointer;
  color: #0f62fe;
  font-size: 1.2em;
}

.tab-container {
  margin: 20px;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #dde1e6;
  height: 58px;
}

.tab {
  color: #21272a;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  background-color: transparent;
}

.tab:hover {
  background-color: transparent;
}

.tab.active {
  background-color: transparent;
  color: #001d6c;
  border-bottom: 2px solid #001d6c;
}

.tab .badge {
  background-color: #697077;
  color: #fff;
  border-radius: 12px;
  padding: 3px 8px;
  margin-left: 5px;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  padding: 8px 12px;
  margin: 0 2px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #0f62fe;
}

.page-btn:hover,
.page-btn.active {
  background-color: #a6c8ff;
  color: #001d6c;
}

.search-container {
  position: absolute;
  top: 16px;
  right: 0;
  width: 178px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
}