<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Bruce data portal</title>
    <link rel="stylesheet" href="../styles/about-us.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="query-builder.html">
          <img src="../assets/logo.svg" alt="BRUCE Data Portal logo" />
        </a>
        <nav>
          <ul>
            <li>
              <a href="query-builder.html">Query Builder</a>
            </li>
            <li><a href="sample-info.html">Sample Info</a></li>
            <li>
              <a href="visualization.html" >Visualization</a>
            </li>
            <li><a href="about-us.html" class="active-about">About Us</a></li>
            <li><a href="raw-data-access.html">Raw Data Access</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="page-title page-title--about">
        <div class="container">
          <div class="page-headline">
            <div class="page-tag">
              <div class="line"></div>
              <p>BRUCE DATA PORTAL</p>
            </div>
            <h1>About Us</h1>
            <p>
            </p>
          </div>
        </div>
      </section>
      <section id="mission-research">
        <div class="research">
          <div class="container">
            <div class="research-content">
              <div class="image-container">
                <img
                  src="../assets/images/about-us-research.png"
                  alt="Research Image"
                />
              </div>
              <div class="text-container">
                <h2>Our Research</h2>
                <div class="divider-container mb-32">
                  <div class="divider-short"></div>
                  <div class="divider-long"></div>
                </div>
                <p>
We are committed to advancing the understanding and treatment of primary brain tumors—some of the most lethal cancers affecting both adults and children. Despite decades of research, effective therapies remain elusive, and survival rates have not significantly improved. To address this challenge, we have assembled one of the largest and most diverse glioma tissue cohorts. This cohort includes adult and pediatric patients, covering treatment-naive, post-immunotherapy, and recurrent cases. Utilizing cutting-edge high-dimensional imaging technologies, we have created a comprehensive spatial multi-omic atlas of gliomas, focusing on better understanding the tumor microenvironment (TME) and unraveling the mechanisms of treatment resistance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="team">
        <div class="container team-sec">
          <h2 class="text-left">Our Team</h2>
          <h1 class="team-subheader">
            The driving force behind our research and operations
          </h1>

          <div class="team-list">
	    <!-- cards go here -->
	    {{team-cards}}

          </div>
	  </div>
	<div class="container team-sec">
          <h2 class="text-left">Our Collaborators</h2>
          <h1 class="team-subheader">
            The scientists who shared samples and drove science forward
          </h1>
          <div class="team-list">
	    <!-- cards go here -->
	    {{collaborator-cards}}

          </div>
        </div>
      </section>
      <section id="get-involved">
        <div class="container">
          <div class="flex">
            <div class="image-container">
              <img
                src="../assets/images/get-involved.jpg"
                alt="Get Involved Image"
              />
            </div>
            <div class="get-involved-content">
              <h3>Get Involved</h3>
              <h1>
                There are many ways to get involved with the Parker Institute
                for Cancer Immunotherapy and support our mission:
              </h1>
              <div>
                <div class="flex gap-16 align-center mb-24">
                  <img src="../assets/icons/gift.svg" alt="gift" />
                  <div class="get-involved-content-text">
                    <span>Donate: </span> <span>Your financial support enables us to fund
                    critical research projects.</span>
                  </div>
                </div>
                <div class="flex gap-16 align-center mb-24">
                  <img src="../assets/icons/heart.svg" alt="heart" />
                  <div class="get-involved-content-text">
                    <span>Volunteer: </span> <span>Join our team of volunteers and help us
                    with fundraising events, community outreach, and more.</span>
                  </div>
                </div>
                <div class="flex gap-16 align-center">
                  <img src="../assets/icons/support.svg" alt="support" />
                  <div class="get-involved-content-text">
                    <span>Advocate: </span> <span>Advocate for cancer research funding and
                    policies that support cancer patients and their families.</span>
                  </>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-container mt-64">
            <div class="divider-short"></div>
            <div class="divider-long long-white"></div>
          </div>
        </div>
      </section>
    </main>
{{footer}}
  </body>
  <script src="../js/accordion.js"></script>
</html>
