<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Access - Bruce data portal</title>
    <link rel="stylesheet" href="../styles/raw-data-access.css" />
    {{analytics}}
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="query-builder.html">
          <img src="../assets/logo.svg" alt="BRUCE Data Portal logo" />
        </a>
        <nav>
          <ul>
            <li>
              <a href="query-builder.html">Query Builder</a>
            </li>
            <li><a href="sample-info.html">Sample Info</a></li>
            <li>
              <a href="visualization.html">Visualization</a>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li>
              <a href="raw-data-access.html" class="active-rda"
                >Data Access</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="page-title page-title--rda">
        <div class="container">
          <div class="page-headline">
            <div class="page-tag">
              <div class="line"></div>
              <p>BRUCE DATA PORTAL</p>
            </div>
            <h1>Data Access</h1>
            <p>
            </p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="table-wrapper">
            <div class="table-container">
              <div id="app" class="tab-content active"></div>
	    </div>
	  </div>
	</div>
      </section>

      <section id="raw-data-access">
        <div class="container">
          <div class="flex">
            <div class="image-container">
	      <!-- img could go here -->
            </div>
            <div class="raw-data-access-content">
              <h3></h3>
              <h1>
              </h1>
              <p>
              </p>
            </div>
          </div>
        </div>
      </section>
{{faq}}
    </main>
{{footer}}
  </body>
  <script src="/cljs-out/dev-main.js"></script>
  <script>window.onload = function() { wayne.frontend.access.init(); }</script>
</html>
