<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Info - Bruce data portal</title>

    <link rel="stylesheet" href="../styles/sample-info.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link  href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"  rel="stylesheet"    />
    {{analytics}}
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="query-builder.html">
          <img src="../assets/logo.svg" alt="BRUCE Data Portal" />
        </a>
	{{nav-samples}}
      </div>
    </header>
    <main>
      <section id="sample-info">
        <div class="container">
          <div class="sample-info-headline">
            <div class="page-tag">
              <div class="line"></div>
              <p>BRUCE DATA PORTAL</p>
            </div>
            <h1>Sample Info</h1>
            <p>
This page provides detailed clinical annotations for a comprehensive glioma tissue cohort, consisting of 677 samples from both high-grade and low-grade gliomas, collected from multiple clinical sites. Each sample is linked to harmonized clinical data, facilitating research efforts to improve the understanding and treatment of gliomas.
            </p>
          </div>
          <div class="sample-info-content">
            <div class="sample-info-graph">
	      <img src="/assets/images/sam/bruce-website-image1v2.png" width="600"/>
	    </div>
            <div class="sample-info-data">
              <div class="sample-info-data-card">
                <div class="sample-info-card-media">
                  <img class="sample-info-card-media" src="../assets/icons/building-5.png" />
                </div>
                <div>
                  <p class="sample-info-card-number">6</p>
                  <p class="sample-info-card-label">Sites</p>
                </div>
              </div>
              <div class="sample-info-data-card">
                  <img class="sample-info-card-media" src="../assets/icons/samples.png" />
                <div>
                  <p class="sample-info-card-number">677</psite>
                  <p class="sample-info-card-label">Samples</p>
                </div>
              </div>
              <div class="sample-info-data-card">
                  <img class="sample-info-card-media" src="../assets/icons/Tumor-cell-v1_b.png" />
                <div>
                  <p class="sample-info-card-number">1.2M+</p>
                  <p class="sample-info-card-label">Cells</p>
                </div>
              </div>
              <div class="sample-info-data-card">
                  <img class="sample-info-card-media" src="../assets/icons/Technology_BioData.png">
                <div>
                  <p class="sample-info-card-number">600+</p>
                  <p class="sample-info-card-label">Features</p>
                </div>
              </div>
              <div class="sample-info-data-card">
                  <img class="sample-info-card-media" src="../assets/icons/users.svg" />
                <div>
                  <p class="sample-info-card-number">310</p>
                  <p class="sample-info-card-label">Patients</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="sample-data">
        <div class="container">
          <div class="graph-list flex gap-24">
            <div class="graph-sample"><img src="/assets/images/sam/bruce-website-image2.svg"></div>
            <div class="graph-sample"><img src="/assets/images/sam/bruce-website-image3v2.png" width="409"></div>
            <div class="graph-sample"><img src="/assets/images/sam/bruce-website-image4v2.png" width="409"></div>
          </div>
          
        </div>
      </section>
      <section id="data-table">
        <div class="container">
          <div class="sample-data-table">
	    <h3>Patients and samples</h3>
            <div id="app" class="tab-content active">
	      
            </div>
          </div>
          <div class="divider-container mt-86">
            <div class="divider-red"></div>
            <div class="divider-long-lg"></div>
          </div>
        </div>
      </section>
      {{faq}}
    </main>
    {{footer}}
  </body>
  <script src="/cljs-out/dev-main.js"></script>
  <script>window.onload = function() { wayne.frontend.samples.init(); }</script>

</html>
