<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualization - Bruce data portal</title>
    <link rel="stylesheet" href="../styles/visualization.css" />
    {{analytics}}
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="query-builder.html">
          <img src="../assets/logo.svg" alt="BRUCE Data Portal logo" />
        </a>
        <nav>
          <ul>
            <li>
              <a href="query-builder.html">Query Builder</a>
            </li>
            <li><a href="sample-info.html">Sample Info</a></li>
            <li>
              <a href="visualization.html" class="active-viz">Visualization</a>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="raw-data-access.html">Data Access</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="page-title">
        <div class="container">
          <div class="page-headline">
            <div class="page-tag">
              <div class="line"></div>
              <p>BRUCE DATA PORTAL</p>
            </div>
            <h1>Visualization</h1>
            <p>
	      The Vitessce Visualization tool is an web-based platform tailored for interactive exploration of our single cell MIBI images. Here, you can explore protein expression, various cell types, and their spatial organization within the extensive glioma tissue cohort.
            </p>
          </div>
        </div>
      </section>
      <section id="vitessce">
        <div class="container">
          <div class="sample-data-table">
	    <div id="app" class="tab-content active"></div>
          </div>
	</div>
      </section>
      {{faq}}
    </main>
    {{footer}}
  </body>
  <script src="/cljs-out/dev-main.js"></script>
  <script>window.onload = function() { wayne.frontend.vitessce.init(); }</script>
</html>

