@import url('main.css');

.table-wrapper {
  border: 1px solid #E8E8E8;
  border-radius: 8px;
  margin: 64px 0;
  background-color: #fff
}

.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #dde1e6;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dde1e6;
}

th {
  background-color: #000;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  height: 48px;
}

td {
  background-color: #fff;
}


th input[type='checkbox'],
td input[type='checkbox'] {
  cursor: pointer;
}

td a {
  color: #0f62fe;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

.download-icon {
  cursor: pointer;
  color: #0f62fe;
  font-size: 1.2em;
}

.tab-container {
  margin: 20px;
  position: relative;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #dde1e6;
  height: 58px;
  padding-bottom: 8px;
  gap: 16px
}

.tab {
  color: #697077;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  background-color: transparent;
  text-transform: uppercase;
}

.tab:hover {
  background-color: transparent;
}

.tab.active {
  background-color: transparent;
  color: #697077;
  border-bottom: 2px solid #001d6c;
}

.tab .badge {
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  padding: 3px 8px;
  margin-left: 5px;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  padding: 8px 12px;
  margin: 0 2px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  color: #0f62fe;
}

.page-btn:hover,
.page-btn.active {
  background-color: #000;
  color: #fff;
}

.search-container {
  position: absolute;
  top: 8px;
  right: 0;
  width: 300px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 20px 10px 20px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
}

.page-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px
}

.page-tag p {
  font-size: 14px
}

.line {
  width: 43px;
  height: 13px;
  background-color: #FF6C30
}

#raw-data-access {
  padding: 80px 0;
  background-color: #fff
}

.raw-data-access-content{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.raw-data-access-content h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 35.2px;
  text-align: left;
  color: #21272a;
  margin-bottom: 48px;
}

.raw-data-access-content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  color: #001d6c;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.raw-data-access-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
  color: #21272a;
}

.btn {
  /* padding: 10px 20px; */
  border: none;
  cursor: pointer;
  font-size: 14px;
  /* height: 56px; */
  width: 180px; 
  padding: 3px;
  margin-left: -15px;		/* weird but helps with table alignment */
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 30px;
  background-color: #ddd;
}

.btn:hover {
  opacity: 0.8;
  background-color: #000;
}

.btn-outlined {
  border: 1px solid #000;
}

.btn-outlined:hover {
  opacity: 0.7;
  background: transparent;
}

.button-container {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}

/* ag-grid */

.data-table {
  height: 400px;
}

/* Not sure why this is necessary but it is */
.ag-theme-balham {
  height: 400px;
}
