<header>
  <div class="container">
      <div class="logo">
          <img src="../assets/logo.svg" alt="BRUCE Data Portal">
      </div>
      <nav>
          <ul>
              <li><a href="query-builder.html">Query Builder</a></li>
              <li><a href="sample-info.html">Sample Info</a></li>
              <li><a href="visualization.html">Visualization</a></li>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="raw-data-access.html">Raw Data Access</a></li>
          </ul>
      </nav>
  </div>
</header>